footer{
    width: 100%;
    background-color: $blackColor;
    overflow: hidden;
}

.footer__top{
    position: relative;
    height: 500px ;
    overflow: hidden;
    background-color: $grayColor;
    font-family: $fontSmall;
}

.footer__bigfoto{
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    display: none;
    @include from(600){
        display: block;
    }
}

.footer__informations{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 100;
    z-index: 12;
    

    @include from(600){
        position: relative;
        margin-left: 150px;
    }
}

.footer__adress{
    margin: 40px 0;
    padding: 20px 0;
    line-height: 35px;
    width: 200px;
    border-top: 1px solid $orangeColor;
    border-bottom: 1px solid $orangeColor;
    position: relative;
    
    
    &::before{
        content: '';
        position: absolute;
    }
}

.footer_img{
    width: 130px;
    // margin-left: 80px;
    height: auto;
}

.footer__bottom{
    display: flex;
    align-items: center;
    padding: 0 110px;
    justify-content: space-between;

    @include to(800){
        flex-direction: column;
        padding: 20px 20px;
        text-align: center;
    }
}

.footer__privacypolicy{
    color: white;
    &:hover{
        color: $orangeColor;
    }
}

.footer__allrights{
    color: #e8e8e8;;
}


.beforefooter{
    width: 100%;
    height: auto;
    padding: 30px 0;
    // height: 200px;
    // background-color: $orangeColor;
    display: flex;
    justify-content: center;
}

.beforefooter__box{
    width: 400px;
    height: 100%;
    margin-right: 20px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $grayColor;
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
    }

    // background-color: red;
    text-align: center;
    
}

.beforefooter__heading{
    @include smallHeading;
    position: relative;

  &::after{
        @include smallLine(20px);
        left: 50%;
        transform: translateX(-50%);
        // background-color: rgb(133, 122, 122);
    }
    
}

.beforefooter__text{
    margin: 0;
    margin-top: -20px;
}

.beforefooter__button{
    margin-bottom: 20px;
    background-color: red;

}