footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;


}

.footer_img{
    width: 500px;
    height: auto;
}

.footer-menu__ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    

    li{

        width: 50%;

        a{
            color: white;
            

        }
    }
}
