.g-container {
	width: 100%;
	max-width: 1400px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}



.g-button{
	display: inline-flex;
	border-radius: 999px;
	align-items: center;
	height: 50px;
	background-color:$orangeColor;
	padding: 22px 30px 20px;
	color: $whiteColor;
}



h1,h2{
	font-family: $fontBig;
}

p,a{
	font-family: $fontSmall;
}



.top-image-g{
	width: 100%;
    min-width: 1600px;
    height: auto;
    margin-top: -700px;
}