.contact__container{
    // display: flex;
    position: relative;
}


.contact__heading{
    text-align: center;
    position: absolute;
    left: 10%;
    top: 100px;

}

.contact__decription{
    text-align: center;
    position: absolute;
    left: 10%;
    top: 70px;
}



.contact__details{

    @include from(600){
        display: flex;  
        justify-content: center;      
    }
}

.contact__img{
    width: 100%;
    height: 500px;
    // height: auto;
    opacity: .2;
}

.contact__details-description{
    @include from(600){
        margin-left: 50px;
    }
}

.contact__formular{
    width: 400px;
    margin: 0 auto;
}



