.contact__formular{
    width: 500px;
    margin: 0 auto;
}


.wpcf7{
	border: 2px solid white;
	display: flex;
    justify-content: center;
	border-radius: 10px;
}

.wpcf7{
	
	input{
		// width: 50%;
		background-color: white;
		border-radius: 10px;
		border: 0;
		border: 1px solid $orangeColor;
		
	}
	
}

.wpcf7-textarea{
	background-color: white;
	border-radius: 10px;
	background-color: white;
	border: 1px solid $orangeColor;
	padding: 10px;
}

.wpcf7-submit{
	background-color: transparent !important;
	border: 1px solid pink ;
	padding: 10px 30px;
	border-radius: 999px !important;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	&:hover{
		// background-color: white !important;
		color: $orangeColor;
	}
}

.wpcf7-form{
	label{
		color: white;
		// font-size: px;
		font-weight: bold;
		font-family: $fontBig;
	}
}