.front-desc{

}

.front-desc__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    padding-left: 0;
    font-family: $fontSmall;

    @include from(600){
        flex-direction: row;
    }
}

.front-desc__heading{
    margin-top: 90px;
    text-align: center;
    @include smallHeading;

    &::after{
        @include smallLine(20px);
        left: 50%;
        transform: translateX(-50%);
    }
}

.front-desc__listTitle{
    text-align: center;
}

.front-desc__listItem{
    width: 100%;
    padding-right: 40px;
    padding-top: 20px;
    @include from(600){
        width: 50%;
        padding-top: 30px;
    }
    list-style-type: none;
    position: relative;

    &::before{
        content: '';
        width: 30px;
        height: 30px;
        background-image: url('../../template-parts/img/marker.jpg');
        background-size: 30px 30px;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.front-desc__textAfterList{
    margin-top: 90px;
    text-align: center;
}

.front-desc__content {
    margin-bottom: 100px;
}