body{
    color: white;
    background-color: black;
}

$whiteColor: #ffffff;
$blackColor: #000000;
$orangeColor: #db842d;
$grayColor: #353535;

$fontBig : 'Recursive', sans-serif;
$fontSmall : 'Roboto', sans-serif;