.navigation-menu{
   position: relative;
   
}

.navigation-menu__mega-menu{
    background-color: #101010;
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 120px;
    left: -140px;
    width: 400px;
    padding-top: 20px;
    
    
    
    &::before{
        content: '';
        width: 0px;
        height: 0px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid white;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -20px;
    }

    @include from(1100){
        width: 800px;
        left: -320px;
    }

    
    
}
.navigation-menu__mega-menu--hover{
    display: none;
    
}

.navigation-menu__category{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.33%;
}

.navigation-menu__category-title{
    color: $orangeColor;
    font-family: $fontSmall;
    font-size: 40px;
    border-bottom: .1px solid gray;
    text-transform: uppercase;
    pointer-events: none;
}

.navigation-menu__category-item{
    color: white;
    margin-top: 10px;
    font-family: $fontSmall;
}


